# All Possible Combinations

Export all possible combinations out of given parameters

In [1]:
import itertools
import pandas as pd

In [2]:
device = ['phone']
model = ['F45']
a = ['01', '02']
b = ['00','05']
c = ['03']
d = ['70', '71']
e = ['18']
f = ['32', '34']

all_combinations = []
for combination in itertools.product(device, model, a, b, c, d, e, f):
    lists = list(combination)
    all_combinations.append(lists)

In [3]:
df = pd.DataFrame(all_combinations, columns=['device', 'model', 'a', 'b', 'c', 'd', 'e', 'f'])
df.head()

  device model   a   b   c   d   e   f
0  phone   F45  01  00  03  70  18  32
1  phone   F45  01  00  03  70  18  34
2  phone   F45  01  00  03  71  18  32
3  phone   F45  01  00  03  71  18  34
4  phone   F45  01  05  03  70  18  32

In [4]:
df['Concat'] = df.apply(lambda row: str(row['device']) + str(row['model']) + str(row['a']) + str(row['b']) + str(row['c']) + str(row['d']) + str(row['e']) + str(row['f']), axis=1)
df.head()

  device model   a   b   c   d   e   f                Concat
0  phone   F45  01  00  03  70  18  32  phoneF45010003701832
1  phone   F45  01  00  03  70  18  34  phoneF45010003701834
2  phone   F45  01  00  03  71  18  32  phoneF45010003711832
3  phone   F45  01  00  03  71  18  34  phoneF45010003711834
4  phone   F45  01  05  03  70  18  32  phoneF45010503701832

In [5]:
# DF shape must match multiplication between lists shape
df.shape

(16, 9)

In [ ]:
import os
os.chdir('C:/Users/j_hor/OneDrive/Documentos')
df.to_excel('Full Combinations Phone1-F45.xlsx', index=False)