# Challenge 1:

Given a number n, for each integer i in the range from 1 to n inclusive, print one value per line as follows:

* If i is a multiple of both 3 and 5, print 'FizzBuzz'
* If i is a multiple of 3 (but not 5), print 'Fizz'
* If i is a multiple of 5 (but not 3), print 'Buzz'
* If i is not a multiple of 3 or 5, print the value of i.

The function must print the appropiate response in ascending order, each on a separate line.

In [1]:
import numpy as np
import pandas as pd

In [2]:
def FizzBuzz(n):
    multiples_3 = np.arange(3,n+1,3)
    multiples_5 = np.arange(5,n+1,5)
    for i in range(1,n+1):
        if i in multiples_3 and i in multiples_5:
            print("FizzBuzz")
        elif i in multiples_3 and i not in multiples_5:
            print("Fizz")
        elif i in multiples_5 and i not in multiples_3:
            print("Buzz")
        else:
            print(i)

In [3]:
FizzBuzz(15)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz

# Challenge 2:

What is the mean Age from the following set of data?

In [4]:
dicts_in_list = [{"Name": "John", "Surname": "Collins", "Team": "Jazz", "Age": 25},
                 {"Name": "Trae", "Surname": "Young", "Team": "Hawks", "Age": 24},
                 {"Name": "Demar", "Surname": "Demar", "Team": "Bulls", "Age": 32}
                ]
dicts_in_list

[{'Name': 'John', 'Surname': 'Collins', 'Team': 'Jazz', 'Age': 25},
 {'Name': 'Trae', 'Surname': 'Young', 'Team': 'Hawks', 'Age': 24},
 {'Name': 'Demar', 'Surname': 'Demar', 'Team': 'Bulls', 'Age': 32}]

In [5]:
df = pd.DataFrame.from_dict(dicts_in_list)
print(df.head())
txt = 'Mean Age is {}'
mean = df.Age.mean()
print(txt.format(mean))

    Name  Surname   Team  Age
0   John  Collins   Jazz   25
1   Trae    Young  Hawks   24
2  Demar    Demar  Bulls   32
Mean Age is 27.0

# Challenge 3:

Given a NBA stats by player dataset, visualize average points by year, with court position in columns.

## Pandas solution

In [6]:
import sqlite3
import os
os.chdir('C:/Users/j_hor/OneDrive/Documentos/Coderhouse/Data Science/Data/Raw')

In [7]:
sql_statement = "SELECT * FROM sqlite_master WHERE type ='table'"
connection = sqlite3.connect('nba_salary.sqlite')
raw_data = pd.read_sql_query(sql_statement, connection)
raw_data

,type,name,tbl_name,rootpage,sql
0,table,NBA_season1718_salary,NBA_season1718_salary,2,"CREATE TABLE `NBA_season1718_salary` (\n `X1` REAL,\n `Player` TEXT,\n `Tm` TEXT,\n `season17_18` REAL\n)"
1,table,Seasons_Stats,Seasons_Stats,8,"CREATE TABLE `Seasons_Stats` (\n `X1` REAL,\n `Year` REAL,\n `Player` TEXT,\n `Pos` TEXT,\n `Age` REAL,\n `Tm` TEXT,\n `G` REAL,\n `GS` INTEGER,\n `MP` REAL,\n `PER` REAL,\n `TS%` REAL,\n `3PAr` INTEGER,\n `FTr` REAL,\n `ORB%` INTEGER,\n `DRB%` INTEGER,\n `TRB%` INTEGER,\n `AST%` INTEGER,\n `STL%` INTEGER,\n `BLK%` INTEGER,\n `TOV%` INTEGER,\n `USG%` INTEGER,\n `blanl` INTEGER,\n `OWS` REAL,\n `DWS` REAL,\n `WS` REAL,\n `WS/48` REAL,\n `blank2` INTEGER,\n `OBPM` INTEGER,\n `DBPM` INTEGER,\n `BPM` INTEGER,\n `VORP` INTEGER,\n `FG` REAL,\n `FGA` REAL,\n `FG%` REAL,\n `3P` INTEGER,\n `3PA` INTEGER,\n `3P%` INTEGER,\n `2P` REAL,\n `2PA` REAL,\n `2P%` REAL,\n `eFG%` REAL,\n `FT` REAL,\n `FTA` REAL,\n `FT%` REAL,\n `ORB` INTEGER,\n `DRB` INTEGER,\n `TRB` REAL,\n `AST` REAL,\n `STL` INTEGER,\n `BLK` INTEGER,\n `TOV` INTEGER,\n `PF` REAL,\n `PTS` REAL\n)"

In [8]:
stats_table = "SELECT * FROM Seasons_Stats"
df = pd.read_sql_query(stats_table, connection)
df.head()

,X1,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0.0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1.0,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2.0,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3.0,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4.0,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [9]:
df.isnull().sum(axis=0)

X1            0
Year         67
Player       67
Pos          67
Age          75
Tm           67
G            67
GS        18444
MP          553
PER         590
TS%         153
3PAr      21239
FTr         166
ORB%      23714
DRB%      24320
TRB%      24436
AST%      23926
STL%      22672
BLK%      21652
TOV%      24241
USG%      24633
blanl     24691
OWS         106
DWS         106
WS          106
WS/48       590
blank2    24691
OBPM      24191
DBPM      23975
BPM       24279
VORP      21604
FG           67
FGA          67
FG%         166
3P        16021
3PA       19516
3P%       20893
2P           67
2PA          67
2P%         195
eFG%        166
FT           67
FTA          67
FT%         925
ORB       23158
DRB       23956
TRB         379
AST          67
STL       22794
BLK       21000
TOV       23761
PF           67
PTS          67
dtype: int64

In [10]:
print(df.columns)
print(df.Pos.unique())

Index(['X1', 'Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'PER',
       'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%',
       'TOV%', 'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2', 'OBPM',
       'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P',
       '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')
['G-F' 'SG' 'SF' 'F' 'G' 'F-C' 'PG' 'F-G' 'C' 'PF' 'C-F' None 'PF-C'
 'SF-SG' 'C-PF' 'SG-SF' 'PF-SF' 'SF-PF' 'SG-PG' 'SF-PG' 'C-SF' 'PG-SG'
 'PG-SF' 'SG-PF']

In [11]:
backcourt = ['PG','SG','G','SG-PG','PG-SG']
frontcourt = ['SF','PF','C','F','F-C','C-F','PF-C','C-PF','PF-SF','SF-PF','C-SF']
df['Pos']= df.Pos.apply(lambda x: 'Back-court' if x in backcourt else 'Front-court' if x in frontcourt else 'All-Around')
df.Pos.unique()

array(['All-Around', 'Back-court', 'Front-court'], dtype=object)

In [12]:
# Drop nulls
df.dropna(subset=['PTS','Year'], inplace=True)

In [13]:
df[['Year','Pos','PTS']].isnull().sum(axis=0)

Year    0
Pos     0
PTS     0
dtype: int64

In [14]:
df['Year'] = df['Year'].astype(int)
type(df.Year[0])

numpy.int32

In [15]:
df_pivoted = df[['Year','Pos','PTS']]
df_pivoted = pd.pivot_table(df_pivoted, values='PTS', index='Year', columns=['Pos'], aggfunc="mean")
df_pivoted.tail()

Pos   All-Around  Back-court  Front-court
Year
2013       235.0  484.473451   426.052174
2014       403.0  469.955466   422.870523
2015       305.5  452.458333   409.288089
2016       107.0  487.416327   450.644578
2017         NaN  505.356846   453.884181

## SQL solution

In [16]:
sql_solution = "SELECT Year, PTS, CASE WHEN Pos IN ('PG','SG','G','SG-PG','PG-SG') THEN 'Back-court' WHEN Pos IN ('SF','PF','C','F','F-C','C-F','PF-C','C-PF','PF-SF','SF-PF','C-SF') THEN 'Front-court' ELSE 'All-Around' END AS Category FROM Seasons_Stats WHERE Year IS NOT NULL"
df_transposed = pd.read_sql_query(sql_solution, connection)
df_transposed

         Year    PTS     Category
0      1950.0  458.0   All-Around
1      1950.0  279.0   Back-court
2      1950.0  438.0  Front-court
3      1950.0   63.0  Front-court
4      1950.0   59.0  Front-court
...       ...    ...          ...
24619  2017.0  639.0  Front-court
24620  2017.0  178.0  Front-court
24621  2017.0   23.0  Front-court
24622  2017.0  240.0  Front-court
24623  2017.0  284.0  Front-court

[24624 rows x 3 columns]

In [ ]:
sql_solution = "SELECT Year, [Back-court], [Front-court], [All-Around] \
                FROM (SELECT Year, PTS, \
                CASE WHEN Pos IN ('PG','SG','G','SG-PG','PG-SG') THEN 'Back-court' WHEN Pos IN ('SF','PF','C','F','F-C','C-F','PF-C','C-PF','PF-SF','SF-PF','C-SF') THEN 'Front-court' ELSE 'All-Around' END AS Position \
                FROM Seasons_Stats \
                WHERE Year IS NOT NULL) AS PivotTable \
                PIVOT \
                ( \
                    AVG(PTS) \
                    FOR Position IN ([Back-court], [Front-court], [All-Around]) \
                ) AS Pivoted"
df_transposed = pd.read_sql_query(sql_solution, connection)
df_transposed

In [18]:
pd.pivot_table(df_transposed, values=['PTS'], index='Year', columns=['Category'], aggfunc="mean")

                 PTS
Category  All-Around  Back-court Front-court
Year
1950.0    275.000000  329.469880  361.542484
1951.0    232.370370  430.500000  388.722772
1952.0    164.000000  438.979167  462.443038
1953.0    216.666667  358.820896  448.448276
1954.0    242.000000  420.240000  427.291139
...              ...         ...         ...
2013.0    235.000000  484.473451  426.052174
2014.0    403.000000  469.955466  422.870523
2015.0    305.500000  452.458333  409.288089
2016.0    107.000000  487.416327  450.644578
2017.0           NaN  505.356846  453.884181

[68 rows x 3 columns]

In [19]:
connection.close()